

.alldata-btn-container {
    margin: 10rem;
    }
/* .alldata-btn{
    margin: 10px;
    background-color: rgb(81, 127, 127);
    color:  rgb(255, 255, 255);
    padding: 8px 16px;
    border: 1px solid  rgb(81, 127, 127);
    border-radius: 4px;
    width: 12rem;
    cursor: pointer;
  } */
  