.container-cart {
  width: 100%;
  height: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 1000px;
  max-width: 1000px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0.5px 2px 4px 4px rgba(0, 0, 0, 0.1);
}

.cart-items {
  display: flex;
  flex-direction: column;
}

.cart-item {
  display: flex;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1px rgb(140 140 140 / 10%);
  align-items: center;
  height: 12rem;
  font-size: 75%;
  line-height: 173%;
  width: 33rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.cart-item img {
  width: 80px;
  height: 80px;
  -o-object-fit: cover;
  object-fit: cover;
  border: solid 1px;
}

.item-details {
  position: relative;
  flex: 1;
}

.cart-summary {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.checkout-button {
  text-align: center;
  font-size: 0.75rem;
  width: 8rem;
  height: 1.5rem;
  background-color: rgb(0 0 0);
  color: rgb(255 255 255);
  padding: 2px 20px;
  border: 1px solid rgb(81, 127, 127);
  border-radius: 4px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.checkout-button:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  border: 0.1rem solid;
  border-color: rgb(190, 190, 190);
  cursor: pointer;
  position: absolute;
  left: 90%;
  bottom: 95%;
  height: 1.5rem;
  width: 1.5rem;
  padding: 0.2rem;
  border-radius: 100%;
  color: rgba(112, 112, 112, 0.766);
  transition: 0.3s ease;
}

.closeButton:hover {
  color: rgba(255, 252, 252, 0.766);
  background-color: #8fb1b1;
  border-radius: 100%;
}

@media screen and (max-width: 600px) {
  .cart-container {
    max-width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
  }

  .cart-item {
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  }

  .cart-item img {
    width: 100%;
    height: auto;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .item-details {
    text-align: center;
    margin-top: 10px;
  }

  .cart-summary {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .checkout-button {
    width: 100%;
    margin-top: 10px;
  }
}
.cart-link {
  font-size: 0.7rem;
  -webkit-text-decoration: revert;
  text-decoration: revert;
  color: rgb(86 101 97);
  cursor: pointer;
  transition: all ease 0.3s;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.cart-link:hover {
  color: rgb(0, 0, 0);
}

.link-history {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(81, 127, 127);
  padding: 8px 16px;
  border: 1px solid rgb(81, 127, 127);
  border-radius: 4px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.titleCart {
  font-size: 2rem;
  color: rgba(32, 32, 32, 0.766);
  cursor: default;
}