.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5rem;
  align-items: center;
}

.about-content {
  max-width: 850px;
  text-align: center;
}

.about-title {
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 2.5rem;
  text-align: center;
  color: #dcaaa1;
  text-shadow: 1px 1px 1px #dcaaa1;
}

.about-text {
  font-size: 18px;
  line-height: 1.5;
  text-align: justify;
  justify-content: center;
  margin: 2rem 2rem 2rem 2rem;
  color: rgb(81, 81, 81);
}

@media screen and (max-width: 600px) {
  .about-content {
    padding: 10px;
  }

  .about-title {
    font-size: 28px;
  }

  .about-text {
    font-size: 16px;
  }
}