.input-search {
  color: rgb(46, 45, 45);
  width: 100%;
  height: 2.3rem;
  padding: 20px 15px 21px 17px;
  border-radius: 20px;
  background-color: rgb(229, 228, 228);
}

.search-container-form {
  width: 100%;
}

.search-container {
  width: 20rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

@media (max-width: 1130px) {
  .search-container {
    width: 15rem;
  }
}