footer {
  background-color: #517f7f;
  color: #f2d5cf;
  padding: 1rem;
  position: relative;
  text-align: center;
  cursor: default;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer-container p {
  font-size: 14px;
}

.footer-links a {
  margin-right: 10px;
  margin-bottom: 10px;
  color: #f2d5cf;
  font-size: 14px;
}

.footer-links a:hover {
  color: #ffffff;
}

.brand-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

@media screen and (max-width: 768px) {
  .brand-info {
    gap: 1rem;
  }
}
