.footerC {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.moving-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5) url("../../assets/FooterContact.svg");
  background-size: cover;
  animation: moveBackground 20s linear infinite,
    zoomBackground 20s alternate infinite;
  animation-fill-mode: forwards;
}

.brand-info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  z-index: 1;
  width: 100%;
  height: 100%;
  color: #517f7f;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.491);
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.social-icons a {
  margin-right: 0px;
}

.social-icons img {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 0px;
}
@media screen and (max-width: 768px) {
  .social-icons a,
  .footer-links a {
    margin-right: 10px;
  }

  .social-icons img {
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
}

@keyframes moveBackground {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@-webkit-keyframes moveBackground {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100%);
  }
}

@keyframes zoomBackground {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

@-webkit-keyframes zoomBackground {
  0%, 100% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
}
