.shipment-methods-container {
    display: flex;
    flex-direction: column; 
    
  }
  .shipmentP {
    text-align: justify;
   color: rgb(81, 81, 81);
   margin-bottom: 3%;
   margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
  }
  
  .shipment-header {
    display: flex;
  flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
    margin-top: 50px; 
  }
  
  .shipment-title {
    font-size: 3.5rem;
    color: rgb(220, 170, 161);
    font-weight: 400;
    margin-left: 0;
    margin-top: 5%;
    
  }
  
  .shipment-text-underline {
    height: 0.4rem;
    width: 150%;
    margin-left: 0;
    background-color: rgb(220, 170, 161);
  }
  
  .shipment-container {
    display: flex;
    align-items: center; 
    margin: 20px;
    margin-top: 10px; 
  }
  
 
  .shipment-containerAdd{
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 5%;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    background-color:#eeeeee;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10%;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
  }
  
  th {
    background-color: #517f7f;
    color: white;
  }
  
  /* Estilos para filas alternas */
  tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
  }
  
  /* Estilos para celdas */
  td {
    border: 1px solid #ccc;
  }

  @media (max-width: 768px) {
    .shipment-img-container {
      width: 150px;
      height: 150px;
    }
  
    .shipment-method {
      margin: 5%;
      flex-direction: column;
      align-items: center; 
    }
  
    .shipment-method p {
      margin-top: 0; 
    }
    
    .shipment-title {
      font-size: 2rem; 
    }
  
    .shipment-text-underline {
      margin-left: 0; 
    }
    
    .shipment-container {
      flex-wrap: wrap; 
    }
    
    .shipment-containerAdd {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 0;
      margin-bottom: 5%;
    }
      }
      @media (max-width: 768px) {
        table {
          font-size: 14px;
        }
        
        th, td {
          padding: 8px;
        }
      }