.categories-main{
    margin: 5rem;
    padding: 20px;
}

  
  .categories {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  .categories-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .categories-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .icons {

    display: flex;
    align-items: center;
    
  }
  
  .edit-categories,
  .delete-categories {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  