/* Estilos base */
.newsletter {
  background-color: #f2d5cf;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
}

.newsletter h2 {
  margin-right: 20px;
  border-color: #517f7f;
  color: #517f7f;
}

.newsletter form {
  display: flex;
  flex-direction: column; /* Cambiamos el flujo de los elementos a columna */
  align-items: center;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 8px;
  margin-right: 20px;
}

.newsletter button {
  background-color: #517f7f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #b2cebf;
}

/* Estilos responsive */
@media screen and (max-width: 600px) {
  .newsletter {
    flex-direction: column;
    text-align: center;
  }

  .newsletter h2 {
    margin-right: 0;
    margin-bottom: 11px;
  }

  .newsletter input[type="email"],
  .newsletter button {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px; /* Puedes ajustar este valor según tu preferencia */
  }

  .newsletter input[type="email"] {
    padding: 10px;
  }
}
