.newsletter {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter h2 {
  margin-right: 20px;
  border-color: #517f7f;
  color: #517f7f;
}

.newsletter form {
  display: flex;
  align-items: center;
  width: 35%;
}

.newsletter input[type="email"] {
  flex: 1;
  padding: 8px;
  margin-right: 10px;
}

.newsletter button {
  background-color: #517f7f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #b2cebf;
}

@media screen and (max-width: 768px) {
  .newsletter {
    flex-direction: column;
    text-align: center;
  }

  .newsletter h2 {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .newsletter input[type="email"],
  .newsletter button {
    width: 100%;
  }
}

.isSuscribed {
  margin-left: 1rem;
}
