.newsletter {
    background-color:  #f2d5cf;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px; /* Ajusta el valor del padding según tus preferencias */
    display: flex;
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center; /* Centra los elementos verticalmente */
  }
  
  .newsletter h2 {
    margin-right: 20px; /* Ajusta el margen entre el h2 y el formulario */
    border-color: #517f7f;
    color: #517f7f;
  }
  
  .newsletter form {
    display: flex; /* Ajusta el formulario para que los elementos internos estén en línea */
    align-items: center; /* Centra los elementos verticalmente dentro del formulario */
  }
  
  .newsletter input[type="email"] {
    flex: 1; /* Permite que el campo de correo electrónico ocupe el espacio restante */
    padding: 8px;
    margin-right: 10px; /* Ajusta el margen entre el campo de correo y el botón */
  }
  
  .newsletter button {
    background-color: #517f7f;
    color: #fff;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .newsletter button:hover {
    background-color:  #b2cebf;
  }
  