.newsletter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.newsletter-title {
  border-color: #517f7f;
  color: #517f7f;
}

.newsletter-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 40rem;
}

.input-newsletter {
  font-size: 0.9rem;
  height: 100%;
  width: 15rem;
  padding: 0.5rem 1rem;
}

.newsletter-button {
  background-color: #517f7f;
  color: #fff;
  padding: 8px 16px;
  border: none;
  height: 100%;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s ease;
}

.newsletter-button:hover {
  transform: scale(1.05);
}

.isSuscribed {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .newsletter {
    flex-direction: column;
    text-align: center;
    gap: 0.5rem;
  }

  .newsletter-title {
    margin: 0;
  }
}

@media (max-width: 420px) {
  .newsletter-form {
    width: 100%;
  }

  .input-newsletter {
    width: 10rem;
  }

  .newsletter-button {
    height: 2.5rem;
  }
}
