.cl-internal-phfxlr {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl-internal-17ydaof {
  position: fixed;
  right: 698px;
  top: 220px
}

.cl-internal-rx251b {
  right: auto;
}

.cl-internal-b3fm6y {
  visibility: hidden;
}