.cardImgDetail {
  object-fit: cover;
}

.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-right: 2rem;
  width: 18rem;
  min-height: 100%;
  max-height: 100%;
  margin-bottom: 0.6rem;
}

.containerDetail {
  position: relative;
  background: rgba(250, 250, 250, 0.647);
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.201);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  height: 42rem;
  min-width: 1000px;
  max-width: 1000px;
  margin-top: 3rem;
}

.color-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  padding: 0.3rem;
  border-radius: 100%;
  color: rgba(112, 112, 112, 0.766);
  transition: 0.3s ease;
}

.close-button:hover {
  color: rgba(255, 252, 252, 0.766);
  background-color: #8fb1b1;
  padding: 0.3rem;
  border-radius: 100%;
}

.secContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 37rem;
}

.mainIMage-container {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 37rem;
  min-height: 100%;
  max-height: 100%;
}

.image-galery-container {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.image-gallery {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.image-gallery-slide-wrapper {
  min-height: 100%;
  max-height: 100%;
}

.image-gallery-slides {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.image-gallery-slide {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.image-gallery-image {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: fill;
}

.image-gallery-content.image-gallery-thumbnails-left
  .image-gallery-slide
  .image-gallery-image,
.image-gallery-content.image-gallery-thumbnails-right
  .image-gallery-slide
  .image-gallery-image {
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
  object-fit: fill;
}

.image-gallery-icon {
  padding: 0;
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  width: 2rem;
  height: 5rem;
  margin: 1rem;
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  top: 42%;
}

.quantity-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10rem;
}

.detailInfo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailName {
  font-size: 2rem;
  width: 100%;
  display: inline-block;
  color: rgba(32, 32, 32, 0.766);
  cursor: default;
}

.detailInfoPrecio {
  font-size: 1.3rem;
  height: 2rem;
  color: rgba(32, 32, 32, 0.766);
  cursor: default;
}

.detailInfoSerie {
  font-size: 1.1detailColorButtonrem;
  color: rgba(32, 32, 32, 0.766);
  cursor: default;
}

.detailInfoColor {
  font-size: 1rem;
  color: rgba(32, 32, 32, 0.766);
  cursor: default;
}

.detailColorButton {
  border-radius: 50%;
  transform: translateZ(0);
  transition: 0.3s ease;
  cursor: pointer;
  border: 1px solid rgb(148, 148, 148);
}

.detailColorButton.selected {
  border: 1px solid rgb(48, 48, 48);
  transform: scale(1.05);
}

.detailColorButton:hover {
  border: solid 1px rgb(148, 148, 148);
  transform: scale(1.1);
}

.detailSizeButton {
  font-size: 1rem;
  color: rgba(112, 112, 112, 0.766);
  border: 0.13rem solid;
  border-color: rgb(190, 190, 190);
  border-radius: 15%;
  transition: 0.3s ease;
  cursor: pointer;
}

.detailSizeButton.selected {
  transform: scale(1.03);
  color: rgb(255, 255, 255);
  background: rgb(81, 127, 127);
  border: none;
}

.detailSizeButton:hover {
  transform: scale(1.03);
  color: rgb(255, 255, 255);
  background: rgb(81, 127, 127);
  border: none;
}

.color-size-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.detailDesciption {
  font-size: 1.05rem;
  color: rgba(54, 54, 54, 0.766);
  padding: 0 0.5rem;
  cursor: default;
}

.detailSelection0 {
  font-size: 0.9rem;
  color: rgb(221, 159, 148);
  cursor: default;
}

.detailSelection1 {
  font-size: 0.9rem;
  color: rgb(81, 127, 127);
  cursor: default;
}

.addCartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: rgb(238, 255, 255);
  background: rgb(81, 127, 127);
  border-radius: 5px;
  transform: translateZ(0);
  transition: 0.3s ease;
}

.addCartButton:hover {
  cursor: pointer;
  transform: scale(1.03);
}

.detailAddCartButton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: rgba(112, 112, 112, 0.766);
  border: 0.13rem solid;
  border-color: rgb(190, 190, 190);
  border-radius: 4px;
  transform: translateZ(0);
  transition: 0.3s ease;
  cursor: pointer;
}

.detailAddCartButton:hover {
  transform: scale(1.03);
  color: rgb(255, 255, 255);
  background: rgb(81, 127, 127);
  border: none;
}

.quantity-span {
  font-size: 1.1rem;
  padding-bottom: 0.3rem;
  cursor: default;
}

.size-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  height: 2rem;
}

.alertContainer {
  background-color: rgb(253, 253, 253);
  border: 2px solid rgb(81, 127, 127);
  padding: 15px;
  position: absolute;
  width: 22rem;
  height: 8rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.201);
}

.alertButtons {
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
  margin-bottom: 10px;
}

.detailDesciption .alertButtons button {
  color: rgba(91, 91, 91, 0.766);
  background: rgb(255, 255, 255);
  margin-right: 10px;
  border: 2px solid rgb(81, 127, 127);
  border-radius: 4px;
  padding: 2px 10px 3px 10px;
  transition: transform 300ms, color 300ms, background-color 300ms;
}

.transparentBackground {
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
}

.alertText {
  font-size: 1.1rem;
  color: rgba(91, 91, 91, 0.766);
  margin-left: 17px;
}

.email-container {
  width: 100%;
}

.notifyButton {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  color: rgb(238, 255, 255);
  background: rgb(81, 127, 127);
  border-radius: 5px;
  transform: translateZ(0);
  transition: 300ms;
  cursor: pointer;
}

.notifyButton:hover {
  transform: scale(1.03);
  color: rgb(255, 255, 255);
  background: rgb(81, 127, 127);
}

.suscribe-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
  width: 100%;
  height: 7.5rem;
}

.btn-iniciar-sesion {
  margin: 10px;
  background-color: rgb(255, 255, 255);
  color: rgb(81, 127, 127);
  padding: 8px 16px;
  border: 1px solid rgb(81, 127, 127);
  border-radius: 4px;
  cursor: pointer;
  transition: all ease 0.3s;
}

.btn-iniciar-sesion:hover {
  transform: scale(1.08);
  color: rgb(255, 255, 255);
  background: rgb(81, 127, 127);
}

.opiniones {
  text-align: start;
  color: rgb(81, 127, 127);
  font-size: x-large;
}

.reviews-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-width: 1000px;
  max-width: 1000px;
  background-color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.span-product-name {
  display: flex;
  height: 0.1rem;
  background-color: rgba(91, 91, 91, 0.766);
  border-radius: 0.2rem;
}

.container-detail {
  margin-top: 5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.description-container {
  min-width: 1000px;
  max-width: 1000px;
}

.description-text {
  font-size: 1.3rem;
  color: #535353;
  padding: 0 0.5rem;
}

@media (max-width: 1070px) {
  .reviews-container {
    min-width: 900px;
  }

  .containerDetail {
    min-width: 900px;
    height: 40rem;
  }

  .description-container {
    min-width: 900px;
    max-width: 900px;
  }

  .mainIMage-container {
    width: 30rem;
    min-height: 100%;
    max-height: 100%;
  }
}

@media (max-width: 980px) {
  .reviews-container {
    min-width: 800px;
  }

  .containerDetail {
    min-width: 800px;
    height: 40rem;
  }

  .description-container {
    min-width: 800px;
    max-width: 800px;
  }

  .mainIMage-container {
    width: 23rem;
    min-height: 100%;
    max-height: 100%;
  }

  .image-gallery-left-nav,
  .image-gallery-right-nav {
    top: 48%;
  }

  .image-gallery-thumbnail {
    min-height: 100%;
    max-height: 100%;
  }

  .image-gallery-slide {
    min-height: 27.3rem;
    max-height: 27.3rem;
  }

  .image-gallery-thumbnails-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-height: 8rem;
  }

  .image-gallery-thumbnails .image-gallery-thumbnails-container {
    display: flex;
    min-height: 7rem;
    max-height: 7rem;
  }

  .image-gallery-content {
    min-height: 37rem;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .image-gallery-thumbnail .image-gallery-thumbnail-inner {
    display: flex;
    min-height: 6.5rem;
    max-height: 6.5rem;
  }
}

@media (max-width: 860px) {
  .reviews-container {
    min-width: 700px;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
  }

  .review-container {
    min-width: 100%;
  }

  .review {
    width: 100%;
  }

  .containerDetail {
    min-width: 700px;
    padding-left: 0;
    padding-right: 0;
  }

  .description-container {
    min-width: 700px;
    max-width: 700px;
  }

  .mainIMage-container {
    width: 22rem;
    min-height: 100%;
    max-height: 100%;
  }
}

@media (max-width: 840px) {
  .containerDetail {
    min-width: 500px;
    max-width: 500px;
    height: 75rem;
  }

  .reviews-container {
    min-width: 500px;
    max-width: 500px;
  }

  .mainIMage-container {
    min-height: 100%;
    max-height: 100%;
    width: 25rem;
    margin-top: -3rem;
  }

  .detail-container {
    margin: 0;
    justify-content: center;
    height: 20rem;
    width: 24rem;
  }

  .secContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .detailSelection1 {
    padding: 0.5rem 0;
  }

  .detailSelection0 {
    padding: 0.5rem 0;
  }

  .detailInfoSerie {
    margin-top: 0.2rem;
  }

  .addCartButton {
    margin-top: 3.8rem;
    padding: 1.5rem;
  }

  .color-size-container {
    margin-top: 0rem;
    gap: 0.8rem;
  }

  .detailName {
    /* position: absolute; */
    white-space: nowrap;
    left: 0;
    min-width: 12rem;
    max-width: 100%;
    bottom: 28.5rem;
    font-size: 1.8rem;
  }

  .suscribe-container {
    height: 9rem;
  }

  .notifyButton {
    height: 3rem;
  }

  .description-container {
    min-width: 500px;
    max-width: 500px;
  }
}

@media (max-width: 565px) {
  .reviews-container {
    min-width: 400px;
    max-width: 400px;
  }

  .review-container {
    min-width: 400px;
    max-width: 400px;
  }

  .containerDetail {
    min-width: 100%;
    max-width: 100%;
    height: fit-content;
  }

  .detail-container {
    width: 21rem;
  }

  .mainIMage-container {
    min-height: 100%;
    max-height: 100%;
    width: 100%;
  }

  .description-container {
    min-width: 400px;
    max-width: 400px;
  }
}

@media (max-width: 435px) {
  .reviews-container {
    min-width: 300px;
    max-width: 300px;
  }

  .review-container {
    min-width: 300px;
    max-width: 300px;
  }

  .mainIMage-container {
    width: 100%;
  }

  .containerDetail {
    min-width: 100%;
    max-width: 100%;
  }

  .description-container {
    min-width: 300px;
    max-width: 300px;
  }

  .detail-container {
    width: 16rem;
  }
}
