.main-container {

margin: 5rem;
  padding: 20px;
}
.colores-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.colors {
  border: 1px solid #ccc;
  padding: 20px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
}

.color-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.icons {
  display: flex;
  align-items: center;
}

.edit-color,
.delete-color {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

.edit-color i {
  color: blue;
}

.delete-color {
  color: red;
}
.nav-dashboard{
  margin-top: 1rem;
  margin-bottom: 4rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  width: 100%;
  height: 3rem;
}

.nav-dashboard-btn{
  margin: 10px;
    background-color: rgb(81, 127, 127);
    color:  rgb(255, 255, 255);
    padding: 8px 16px;
    border: 1px solid  rgb(81, 127, 127);
    border-radius: 4px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}





.main-container-colores {

  padding: 20px;
  background-color: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  max-width: 50rem;
  text-align: center;
  margin-left: 3rem;
  
}

.colores-title-colores{

  font-size: x-large;
color: #747474;
margin-bottom: 1rem;
}

.colors-colors {
 
  padding: 30px;
}



.color-create-button-color {
  padding: 5px 19px;
  border: 1px solid #b3b3b3; 
  border-radius: 4px;
  color: black;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
  margin-bottom: 2rem;
}

.color-create-button-color:hover {
  background-color: #517f7f;
  color: rgb(255, 255, 255);
}


.color-circle-color {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  border: 1px solid #afafaf;
}

.color-content-color {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}


.color-name-color {
  font-size: 1.1rem;
  color: #8d8d8d;

}

.contenedor-nombre-color{

  display: flex;
  flex-direction: row;
  gap: 5rem;
  justify-content: space-between;
}