.menu-item {
    margin: 1rem;
    position: relative;
    text-decoration: none;
  }
  
  .menu-item a {
    color: inherit;
  }
  
  .menu-item::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease;
    transform-origin: right;
  }
  
  .menu-item:hover::after {
    width: 100%;
    transform-origin: left; 
  }

  .navbar-search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3.5rem;
  }
  
  