.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 10rem 1.5rem 10rem;
    background-color: #517f7f;
    color: whitesmoke;
    margin-bottom: 1.5rem;
  }
  
  .navbar-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #b2cebf;
    color: #f2d5cf;
    font-weight: bold;
    cursor: pointer;
    transition: all ease .5s;
  }

  .navbar-button:hover {
    background-color:  #f2d5cf;
    color: #b2cebf;
  }
  
  .search-input {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    background-color: #b2cebf;
    color: #f2d5cf;
  }