.navbar {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
    padding: 1rem 1rem 1rem 1rem;
    background-color: whitesmoke;
    color: whitesmoke;
  }
  

  .navbar-button {
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    background-color: #517f7f;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: all ease .5s;
    margin: 1rem 5rem 3rem 1rem;
  }

  .navbar-button:hover {
    background-color:  #b2cebf;
    color: #517f7f;
  }

  /* .products{
    margin: 1rem, 1rem, 90rem, 1rem;
    background-color: red;
    padding: 0px 0px;
  } */

  .products-button {
    padding: 7px 15px;
    border: none;
    border-radius: 4px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    font-size: x-large;
    cursor: pointer;
    transition: all ease .5s;
    margin: -12rem 1rem 1rem -60rem;
  }

  .products-button:hover {
     background-color: whitesmoke;
     color: pink;
  }
  
  
  .search-input {
    width: 400px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    background-color: white;
    color: black;
  }