.search-bar-aside {
  width: 250px;
  padding: 20px;
  background-color: #ece4e1; 
  position: sticky;
  top: 0;
  
}
.search-bar-aside select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 2px;
  color: #555;
  
}
.search-form-aside {
  margin-top:10px;
  display: flex;
  flex-direction: column;

  
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
}

.dropdown-group {
  margin-top: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  padding: 8px;
  width: 100%;
}
li{
  list-style: none;
  margin-bottom: 6px;
}

.reloadButton {
  background-color: #517f7f;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 15px;
  transition: background-color 0.3s ease; 
}

.reloadButton:hover {
  background-color: #497171;
}
.reloadButton:disabled {
  background-color: #ccc; 
  cursor: not-allowed; 
}
