.search-bar-aside {
  width: 300px;
  padding: 20px 30px 0 30px;
  background-color: #ece4e1;
  position: sticky;
  top: 0;
  min-height: 100vh;
}

.search-form-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  position: fixed;
  margin-bottom: 10rem;
}

.filters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0;
  gap: 0.5rem;
}

.filters h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
  padding-left: 0.5rem;
}

.filters h2 span {
  background-color: black;
  height: 0.01rem;
  margin-right: 1rem;
  width: 100%;
}

.search-form-aside-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin-top: 1rem;
}

.search-form-aside-modal h2 {
  color: rgb(253, 249, 249);
}

.search-form-aside-modal h3 {
  color: rgb(253, 249, 249);
}

.search-form-aside-modal h2 span {
  background-color: rgb(253, 249, 249);
  height: 0.01rem;
  margin-right: 1rem;
  width: 100%;
}

.search-bar-aside select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  font-size: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 79, 82);
  color: rgb(46, 79, 82);
  padding: 0.4rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.search-form-aside-modal select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 200px;
  font-size: 15px;
  border-radius: 15px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(46, 79, 82);
  color: rgb(46, 79, 82);
  padding: 0.4rem;
  cursor: pointer;
  transition: all 0.25s ease;
}

.search-form-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.dropdown-group {
  margin-top: 20px;
}

.dropdown {
  position: relative;
}

.dropdown-btn {
  padding: 8px;
  width: 100%;
}

.sale-input {
  display: none;
}

.sale-span {
  display: inline-block;
  position: relative;
  height: 2rem;
  width: 2rem;
  background-color: #ffffff;
  border-radius: 100%;
  border: solid 0.1rem #517f7f;
  cursor: pointer;
}

.sale-label {
  font-size: 2rem;
  cursor: pointer;
}

.sale-span:after {
  content: "";
  position: absolute;
  border: solid #517f7f;
  border-width: 0 0.1em 0.1em 0;
  transform: rotate(45deg);
  width: 0.6rem;
  height: 1rem;
  left: 0.32em;
  top: 0.15em;
  opacity: 0;
  transition: 0.3s ease;
}

.sale-span.off:after {
  opacity: 1;
}

.sale-li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.sale-li h3 {
  padding-bottom: 0.4rem;
  font-size: 0.93rem;
  font-weight: 500;
}

.reloadButton {
  background-color: #517f7f;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.3s ease;
  margin-bottom: 2rem;
}

.reloadButton:hover {
  background-color: #497171;
  transform: scale(1.05);
}

.reloadButton-modal {
  background-color: #517f7f;
  color: white;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.3s ease;
  margin-bottom: 2rem;
}

.reloadButton-modal:hover {
  background-color: #497171;
  transform: scale(1.05);
}

.reloadButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.search-bar-aside.hide .search-form-aside {
  display: none;
}

.toggle-filters-button {
  display: none;
}

.search-bar-aside.show .toggle-filters-button {
  display: block;
}

.select-container-filter {
  position: relative;
}

.select-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgb(46, 79, 82);
  transition: transform 0.3s ease;
}

.custom-select option {
  font-size: 1.2rem;
  background-color: #517f7f;
  color: rgb(255, 255, 255);
}

.select-container-filter.open .select-arrow {
  transform: translateY(-50%) rotate(180deg);
}

.button-close-modal {
  background-color: #517f7f;
  color: white;
  font-size: 16px;
  width: 30%;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  padding: 10px 15px;
  transition: 0.3s ease;
  margin-bottom: 2rem;
}

.button-close-modal:hover {
  background-color: #ece4e1;
  color: #517f7f;
  transform: scale(1.05);
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.open-modal-span {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2rem;
}

@media screen and (max-width: 1475px) {
  .search-bar-aside {
    width: 320px;
  }
}

@media screen and (max-width: 1065px) {
  .search-bar-aside {
    width: 340px;
  }
}

@media screen and (max-width: 715px) {
  .search-bar-aside {
    width: 250px;
  }
}

@media screen and (max-width: 644px) {
  .search-bar-aside {
    background-color: #ece4e1;
    position: fixed;
    margin-top: 5rem;
    min-height: 0;
    width: 100%;
    padding: 0.8rem 0;
    z-index: 2;
  }

  .filter-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
  }

  .open-modal-button {
    background-color: #517f7f;
    padding: 0.2rem 0.8rem;
    border-radius: 10px;
    font-size: 1.05rem;
    font-weight: 500;
    color: #f8f7f7;
    display: flex;
    transition: 0.3s ease;
    gap: 1rem;
  }

  .open-modal-button:hover {
    transform: scale(1.015);
  }

  .img-filter {
    width: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .search-bar-aside {
    width: 100%;
    margin: 0;
    position: relative;
  }
}

@media screen and (max-width: 405px) {
  .search-bar-aside {
    width: 100%;
    margin: 0;
    position: relative;
  }

  .open-modal-button {
    padding-bottom: 0.3rem;
    font-size: 1.03rem;
    gap: 0.5rem;
  }
}

@media screen and (max-height: 820px) {
  .search-form-aside {
    gap: 0.5rem;
  }
}

@media screen and (max-height: 710px) {
  .filters {
    gap: 0.2rem;
  }

  .filters h2 {
    font-size: 1rem;
  }
}

@media screen and (max-height: 675px) {
  .search-bar-aside select {
    padding: 0.2rem;
  }
}

@media screen and (max-height: 640px) {
  .reloadButton {
    padding: 5px 10px;
  }
}
