.review {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.review-container {
  width: 45rem;
  display: flex;
  justify-content: flex-start;
}

.show-more-button:hover {
  color: #517F7F;
}

@media (max-width: 1300px) {
  .review {
    width: 25rem;
  }
}

@media (max-width: 1140px) {
  .review-container {
    width: 30rem;
  }
}

@media (max-width: 980px) {
  .review {
    width: 20rem;
  }

  .review-container {
    max-width: 30rem;
  }
}

@media (max-width: 860px) {
  .review {
    width: 25rem;
  }

  .review-container {
    justify-content: center;
  }
}
