/* .review {
  background-color: whitesmoke;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  color: rgb(3, 3, 3);
  font-size: 1.2rem;
  padding: 8px;
  */
.review{
  margin: 2rem;
  padding-top: 50px;
}

/* .review h2 {
  position: relative;
  z-index: 1;
  margin: 0;
  color: #828282;
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
} */

.review h1 {
font-size: 90rem;
overflow-wrap: break-word;
    display: inline;
    font-size: 14px;
    line-height: 1;
margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.review span{
  text-align: center;
}
