.review {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 2.1rem;
}

.review h1 {
  font-size: 90rem;
  overflow-wrap: break-word;
  display: inline;
  font-size: 14px;
  line-height: 1;
  margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.review-container {
  width: 100%;
  display: flex;
  justify-content: start;
}

.review span {
  text-align: center;
}

@media (max-width: 860px) {
  .review {
    width: 25rem;
  }

  .review-container {
    justify-content: center;
  }
}
