.swiperSlide .imagen {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* margin-bottom: 10px; */
    margin: 32px;
  }
  
  .swiperFooter {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    height: 400px;
    overflow: hidden;
    overflow: clip;
    list-style: none;
    padding: 0px 50px;
    z-index: 1;
    display: block;
  }
  
  .swiperSlide {
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    padding: 20px;
    background-color: #b2cebf;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .swiperSlide .review {
    text-align: center;
  }
  
  .swiperSlide .th3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #dcaaa1;
  }
  
  .swiperSlide .parrafo {
    font-size: 14px;
    color: #517f7f;
  }