.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.error-image-container {
  max-width: 30rem;
}

.notFound-text {
  font-size: 1.5rem;
  font-family: Asap;
  padding-bottom: 2rem;
}