.cardsFavorite {
  margin-top: 5rem;
  background-color: rgb(206, 197, 197);
  min-height: 100vh;
}
.fav-container{
  margin-top: 8rem;
}
.sinFavs{
  margin-top: 1rem;
}
.corazon{
  background-color: transparent;
  padding: 0;
  margin: 0;
}
.corazon-text{
  color: rgb(148, 147, 147);
  display: flex;
  align-items: center;
  justify-content: center;
}