.loadContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loaderContent {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center; 
}

.loaderText {
  font-size: 2opx;
  color: black;
  margin-bottom: 16px;
}

.loadingBackground {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.circle {
  border: 5px solid #f3f3f3;
  border-top: 6px solid rgb(81, 127, 127);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.loader-container{
  height: 100vh;
}

