.talles-main-admin{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  /* margin-top: 5rem; */
  min-height: 100vh;

}
.talles-container-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  width: 70%;
  gap: 1rem;
  border-radius: 10px;
  padding: 3rem;
  border: 1px solid rgb(173, 173, 173);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 3px;
  max-width: 50rem;
}

  
  .talles {
    border: 1px solid #ccc;
    padding: 20px;
  }
  

  
  .talles-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    font-size: 1.1rem;
    color: #8d8d8d;
  }
  

  .btn-talle-amigo{
    background-color: red;
    padding: 5px 19px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    color: black;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 1rem;
    
  }
  .btn-talle-amigo:hover {
    background-color: #517f7f;
    color: rgb(255, 255, 255);
  }


  .contenedor-nombre-talle{

    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: space-between;
  }

  .talles-title-admin{
  font-size: x-large;
  color: #747474;
  margin-bottom: 1rem;


  }


  