.talles-main-admin{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
  min-height: 100vh;
}
.talles-container-background{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  width: 70%;
  gap: 2rem;
  border-radius: 10px;
  padding: 1rem 2rem 2rem 2rem;
  border: 1px solid rgb(173, 173, 173);
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  border-radius: 3px;
}

  
  .talles {
    border: 1px solid #ccc;
    padding: 20px;
  }
  
  /* .talles-title {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #747474;
    font-weight: 500;
  } */
  
  .talles-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  /* .icons-talles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
   */
  /* .edit-talles,
  .delete-talles {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  } */
  .btn-talle-amigo{
    background-color: red;
    padding: 5px 19px;
    border: 1px solid #b3b3b3;
    border-radius: 4px;
    color: black;
    font-weight: 400;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 1rem;
    
  }
  .btn-talle-amigo:hover {
    background-color: #517f7f;
    color: rgb(255, 255, 255);
  }


  