.categories-main{
    margin: 5rem;
    padding: 20px;
    min-height: 58vh;
}

.button-admin-category {
  padding: 5px 19px;
  border: 1px solid #b3b3b3;
  border-radius: 4px;
  color: black;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
}

.button-admin-category:hover {
  background-color: #517f7f;
  color: rgb(255, 255, 255);
}
  
  .categories-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    width: 100%;
    gap: 2rem;
    border-radius: 10px;
    padding: 1rem 2rem 2rem 2rem;
    border: 1px solid rgb(173, 173, 173);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    border-radius: 3px;
  }
  
  .categories-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .categories-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  
  .icons {

    display: flex;
    align-items: center;
    
  }
  
  .edit-categories,
  .delete-categories {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  