.create-main-container {
  display: flex;
}

.createImgDetail {
  height: 700px;
  overflow: hidden;
  object-fit: cover;
}

.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #eeeeee;
  color: #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 4px #517f7f(0, 0, 0, 0.1);
  margin-top: 4.2rem;
}

.create-container button {
  margin-top: 10px;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  color: rgb(81, 81, 81);
}

.create-form label {
  font-weight: 400;
}

.create-form input,
.create-form textarea,
.create-form select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #517f7f;
  font-weight: 400;
  color: #bebdbd;
}

.custom-input::placeholder {
  color: #bebdbd;
}

.custom-textarea::placeholder {
  color: #bebdbd;
}

.create-form select {
  height: 40px;
}

.create-form .error {
  color: red;
  margin-bottom: 5px;
}

.div-button {
  background-color: red;
}
.submit-button {
  padding: 5px 19px;
  border: none;
  border-radius: 4px;
  color: black;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
  margin-left: -12rem;
}

.submit-button:hover {
  background-color: #b2cebf;
  color: rgb(81, 81, 81);
}


/* //!_______________________________ */


.transparentBackgroundY {
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 9998;
}


.alertContainerY {
  background-color: rgb(253, 253, 253);
  border: 2px solid rgb(81, 127, 127);
  padding: 15px;
  position: absolute;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.201);
  margin-right: 1rem;
}

.alertTextY {
  font-size: 1.1rem;
  color: rgba(91, 91, 91, 0.766);
  margin-left: 2rem;
}

.alertButtonsY {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 10px;
}

.alertButtonsY button {
  color: rgba(91, 91, 91, 0.766);
  background: rgb(255, 255, 255);
  font-size: 15px;
  margin-right: 10px;
  border: 2px solid rgb(81, 127, 127);
  border-radius: 50%;
  padding: 2px 10px 3px 10px;
  transition: transform 300ms, color 300ms, background-color 300ms;
}

.alertButtonsY button:hover {
  background-color: rgb(81, 127, 127);
  color: rgb(255, 255, 255);
}