.create-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #eeeeee;
  color: #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 4px #517f7f(0, 0, 0, 0.1);
  margin-top: 4.2rem;
}

.create-container button {
  margin-top: 10px;
}

.create-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 400px;
  color: rgb(81, 81, 81);
}

.create-form label {
  font-weight: 400;
}

.create-form input,
.create-form textarea,
.create-form select {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #517f7f;
  font-weight: 400;
  color: #bebdbd;
}

.custom-input::placeholder {
  color: #bebdbd;
}

.custom-textarea::placeholder {
  color: #bebdbd;
}

.create-form select {
  height: 40px;
}

.create-form .error {
  color: red;
  margin-bottom: 5px;
}

.div-button {
  background-color: red;
}
.submit-button {
  padding: 5px 19px;
  border: none;
  border-radius: 4px;
  /* background-color:red; */
  color: black;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
  margin-left: -12rem;
}

.submit-button:hover {
  background-color: #b2cebf;
  color: rgb(81, 81, 81);
}

@media screen and (max-width: 1124px) {
  .create-container {
    margin-top: 8.2rem;
  }
}
