.create-main-container {
  display: flex;
  /* flex-direction: row; */
  /* align-items: center; */
  /* padding: 20px;
  background-color: #eeeeee;
  color: #eeeeee;
  border-radius: 4px;
  box-shadow: 0 2px 4px #517f7f(0, 0, 0, 0.1); */
}

.createImgDetail{

  height: 700px;
  /* width: 700px; */
  overflow: hidden;
  /* border-radius: 20px; */
  object-fit: cover;
  
 
}





.create-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #eeeeee;
    color: #eeeeee;
    border-radius: 4px;
    box-shadow: 0 2px 4px #517f7f(0, 0, 0, 0.1);
  }
  
  .create-container button {
    margin-top: 10px;
  }
  
  .create-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    color: rgb(81, 81, 81);
  }
  
  .create-form label {
    font-weight: 400 ;
  }
  
  .create-form input,
  .create-form textarea,
  .create-form select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #517f7f;
    font-weight: 400;
    color:  #bebdbd;
  }

  .custom-input::placeholder {
    color:  #bebdbd;;
  }

  .custom-textarea::placeholder {
    color:  #bebdbd;;
  }

   
   .create-form select {
    height: 40px;
  }
  
  .create-form .error {
    color: red;
    margin-bottom: 5px;
  }


  .div-button{
    background-color: red;
  }
  .submit-button {
    padding: 5px 19px;
    border: none;
    border-radius: 4px;
    /* background-color:red; */
    color:black;
    font-weight: 400;
    cursor: pointer;
    transition:  0.5s;
    margin-left: -12rem
  }
  
  .submit-button:hover {
    background-color: #b2cebf;
    color:rgb(81, 81, 81)
  }
  
  /* .create-form .dietTypes-container {
    margin-top: 10px;
    color: whitesmoke;
  }
  
  .create-form .dietType-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    color: white;
  }
  
  .create-form .dietType-item p {
    margin-right: 5px;
    color: whitesmoke;
  }
  
  .create-form .dietType-item button {
    background-color: #ccc;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }
  
  .create-form .dietType-item button:hover {
    background-color: #aaa;
  }
  
  .create-form .no-dietTypes {
    margin-top: 10px;
    color: #555;
  }
  
 
  
  .create-form .back-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: whitesmoke;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.5s;
    margin-right: 10px;
  }
  
  .create-form .back-button:hover {
    background-color: darkgray;
    color:black
  }  */


